#dependencies
/client/node_modules
/server/node_modules

#compiled output
/client/dist
/server/dist

# IDE - VSCode
/client/.vscode/*
/client/!.vscode/settings.json
/client/!.vscode/tasks.json
/client/!.vscode/launch.json
/client/!.vscode/extensions.json
/client/.history/*
/server/.vscode/*
/server/!.vscode/settings.json
/server/!.vscode/tasks.json
/server/!.vscode/launch.json
/server/!.vscode/extensions.json
/server/.history/*